.onereg-container {
    margin: 20px;
    padding: 15px;
    border: 1px solid #76C4EE;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.onereg-title {
    font-size: 24px;
    color: black;
    margin-bottom: 10px;
}

.onereg-text {
    font-size: 18px;
    color: gray;
    margin: 5px 0;
}

.onereg-children-info {
    margin-top: 15px;
    padding: 10px;
    border-left: 4px solid #76C4EE;
    background-color: #f9f9f9;
}

.onereg-children-text {
    font-weight: bold;
    color: black;
}

.highlight {
    color: #76C4EE;
    font-weight: bold;
}

.confirm-button {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.decline-button {
    background-color: red;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}